*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(4, 4, 44);
    color: white;
    font-family: poppins;
}

.left{
    font-weight: 500;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(6, 6, 62);
}

nav ul{
    display: flex;
    justify-items: center;
}

nav ul li{
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(97, 8, 97);
    font-size: 1.01rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 170px 0;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    font-size: 2.5rem;
}

.rightSection img{
    width: 600px;
}

.purple{
    color: purple;
}

.secondSection{
    max-width: 80vh;
    text-align: center;
}

hr{
    border: 0;
    background: white;
    height: 1.6px;
    margin: 40px 84px;
}

.secondSection h1{
    font-size: 3rem;
}